{% extends 'layouts/app.html.twig' %}

{% block title %}
	Page not found
{% endblock %}

{% block content %}
<div class="container-fluid vh-100">
	<div class="row align-items-center h-100">
		<div  class="col-md-12">
			<div class="jumbotron jumbotron-fluid bg-light text-center">
				<div class="container text-center mb-4">
					<h1 class="display-3 font-weight-bold">
						Page not found
					</h1>

					<a class="btn btn-lg btn-primary pl-5 pr-5 mt-4" href="/">Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
