{% extends 'layouts/app.html.twig' %}

{% block title %}
 Bienvenido a
{% endblock %}

{% block content %}
  <div class="container-fluid vh-100">
    <div class="row align-items-center h-100">
      <div  class="col-md-12">
        <div class="jumbotron jumbotron-fluid bg-light text-center">
          <div class="container text-center mb-4">
            <h1 class="display-1 font-weight-bold">
              Davis
              <span class="sp font-weight-normal text-dark">LDS</span>
            </h1>
          </div>
          <code class="h4 mt-5 font-weight-normal text-muted">&lt;Davis Web Development Framework/&gt;</code>

          <ul class="nav justify-content-center mt-3">
            <li class="nav-item">
              <a class="nav-link text-muted" href="https://www.facebook.com/david.paredes25/">
                <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="https://twitter.com/SlznoLudav">
                <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="https://github.com/ldavidsp">
                <i class="fab fa-github fa-2x" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-muted" href="https://www.drupal.org/u/davidparedes21">
                <i class="fab fa-drupal fa-2x" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
